@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
.icon {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: -2px;
}

.forecast__title,
h4,
h5 {
  font-family: "Lobster", cursive;
}
.forecast__title {
  color: var(--color-primary);
}
