@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #a5a5b1;
    display: grid;
    place-items: center
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
}

.close {
    cursor: pointer;
    margin-left: 15px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }

  /* Page Not Found styles */

/* Container */
.pnf {
    text-align: center;
    margin: auto;
    min-height: calc(100vh - 15rem);
  }
  
  .pnf h1,
  .pnf h3 {
    color: var(--color-primary);
  }
  .pnf h1 {
    font-family: "Lobster", cursive;
  }
  .pnf img {
    height: 5rem;
    margin: auto;
    padding: 1rem;
  }
  